SpaceInvaders/externals/SDL2/include/SDL_surface.h
SpaceInvaders/externals/SDL2/include/SDL_stdinc.h
SpaceInvaders/externals/SDL2/include/SDL_shape.h
SpaceInvaders/externals/SDL2/include/SDL_scancode.h
SpaceInvaders/externals/SDL2/include/SDL_rwops.h
SpaceInvaders/externals/SDL2/include/SDL_revision.h
SpaceInvaders/externals/SDL2/include/SDL_render.h
SpaceInvaders/externals/SDL2/include/SDL_rect.h
SpaceInvaders/externals/SDL2/include/SDL_quit.h
SpaceInvaders/externals/SDL2/include/SDL_power.h
SpaceInvaders/externals/SDL2/include/SDL_platform.h
SpaceInvaders/externals/SDL2/include/SDL_pixels.h
SpaceInvaders/externals/SDL2/include/SDL_opengl.h
SpaceInvaders/externals/SDL2/include/SDL_namFe.h
SpaceInvaders/externals/SDL2/include/SDL_mutex.h
SpaceInvaders/externals/SDL2/include/SDL_mouse.h
SpaceInvaders/externals/SDL2/include/SDL_messagebox.h
SpaceInvaders/externals/SDL2/include/SDL_main.h
SpaceInvaders/externals/SDL2/include/SDL_log.h
SpaceInvaders/externals/LCFramework/lib/x64/Debug/LCFramework.pdb
SpaceInvaders/externals/LCFramework/lib/x64/Debug/LCFramework.lib
SpaceInvaders/externals/LCFramework/lib/Win32/Release/LCFramework.lib
SpaceInvaders/externals/LCFramework/lib/Win32/Debug/LCFramework.pdb
SpaceInvaders/externals/LCFramework/lib/Win32/Debug/LCFramework.lib
SpaceInvaders/bin/zlib1.dll
SpaceInvaders/bin/libpng16-16.dll
SpaceInvaders/bin/libjpeg-9.dll
SpaceInvaders/bin/SDL2_image.dll
SpaceInvaders/bin/SDL2.dll
SpaceInvaders/SpaceInvaders/SpaceInvaders.vcxproj.user
SpaceInvaders/SpaceInvaders.sdf
SpaceInvaders/SpaceInvaders.VC.opendb
SpaceInvaders/LCFramework/LCFramework.vcxproj.user
SpaceInvaders/externals/SDL2/include/SDL_loadso.h
SpaceInvaders/externals/SDL2/include/SDL_keycode.h
SpaceInvaders/externals/SDL2/include/SDL_keyboard.h
SpaceInvaders/externals/SDL2/include/SDL_joystick.h
SpaceInvaders/externals/SDL2/include/SDL_hints.h
SpaceInvaders/externals/SDL2/include/SDL_haptic.h
SpaceInvaders/externals/SDL2/include/SDL_gesture.h
SpaceInvaders/externals/SDL2/include/SDL_clipboard.h
SpaceInvaders/externals/SDL2/include/SDL_blendmode.h
SpaceInvaders/externals/SDL2/include/SDL_bits.h
SpaceInvaders/externals/SDL2/include/SDL_audio.h
SpaceInvaders/externals/SDL2/include/SDL_atomic.h
SpaceInvaders/externals/SDL2/include/SDL_assert.h
SpaceInvaders/externals/SDL2/include/SDL.h
SpaceInvaders/externals/SDL2/include/SDL_test_random.h
SpaceInvaders/externals/SDL2/include/SDL_test_md5.h
SpaceInvaders/externals/SDL2/include/SDL_test_log.h
SpaceInvaders/externals/SDL2/include/SDL_test_images.h
SpaceInvaders/externals/SDL2/include/SDL_test_harness.h
SpaceInvaders/externals/SDL2/include/SDL_test_fuzzer.h
SpaceInvaders/externals/SDL2/include/SDL_test_font.h
SpaceInvaders/externals/SDL2/include/SDL_test_crc32.h
SpaceInvaders/externals/SDL2/include/SDL_test_compare.h
SpaceInvaders/externals/SDL2/include/SDL_test_common.h
SpaceInvaders/externals/SDL2/include/SDL_test_assert.h
SpaceInvaders/externals/SDL2/include/SDL_test.h
SpaceInvaders/externals/SDL2/include/SDL_syswm.h
SpaceInvaders/externals/SDL2/include/SDL_system.h
SpaceInvaders/externals/SDL2_image/lib/x64/libwebp-4.dll
SpaceInvaders/externals/SDL2_image/lib/x64/libtiff-5.dll
SpaceInvaders/externals/SDL2_image/lib/x64/libpng16-16.dll
SpaceInvaders/externals/SDL2_image/lib/x64/libjpeg-9.dll
SpaceInvaders/externals/SDL2_image/lib/x64/SDL2_image.lib
SpaceInvaders/externals/SDL2_image/lib/x64/SDL2_image.dll
SpaceInvaders/externals/SDL2_image/lib/x64/LICENSE.zlib.txt
SpaceInvaders/externals/SDL2_image/lib/x64/LICENSE.webp.txt
SpaceInvaders/externals/SDL2_image/lib/x64/LICENSE.tiff.txt
SpaceInvaders/externals/SDL2_image/lib/x64/LICENSE.png.txt
SpaceInvaders/externals/SDL2_image/lib/x64/LICENSE.jpeg.txt
SpaceInvaders/externals/SDL2_image/include/SDL_image.h
SpaceInvaders/externals/SDL2/lib/x86/SDL2test.lib
SpaceInvaders/externals/SDL2/lib/x86/SDL2main.lib
SpaceInvaders/resources/background_textures/background.png
SpaceInvaders/externals/SDL2_image/lib/x86/zlib1.dll
SpaceInvaders/externals/SDL2_image/lib/x86/libwebp-4.dll
SpaceInvaders/externals/SDL2_image/lib/x86/libtiff-5.dll
SpaceInvaders/externals/SDL2_image/lib/x86/libpng16-16.dll
SpaceInvaders/externals/SDL2_image/lib/x86/libjpeg-9.dll
SpaceInvaders/externals/SDL2_image/lib/x86/SDL2_image.lib
SpaceInvaders/externals/SDL2_image/lib/x86/SDL2_image.dll
SpaceInvaders/externals/SDL2_image/lib/x86/LICENSE.zlib.txt
SpaceInvaders/externals/SDL2_image/lib/x86/LICENSE.webp.txt
SpaceInvaders/externals/SDL2_image/lib/x86/LICENSE.tiff.txt
SpaceInvaders/externals/SDL2_image/lib/x86/LICENSE.png.txt
SpaceInvaders/externals/SDL2_image/lib/x86/LICENSE.jpeg.txt
SpaceInvaders/externals/SDL2_image/lib/x64/zlib1.dll
SpaceInvaders/externals/SDL2/lib/x86/SDL2.lib
SpaceInvaders/externals/SDL2/lib/x86/SDL2.dll
SpaceInvaders/externals/SDL2/lib/x64/SDL2test.lib
SpaceInvaders/externals/SDL2/lib/x64/SDL2main.lib
SpaceInvaders/externals/SDL2/lib/x64/SDL2.lib
SpaceInvaders/externals/SDL2/lib/x64/SDL2.dll
SpaceInvaders/externals/SDL2/include/close_code.h
SpaceInvaders/externals/SDL2/include/begin_code.h
SpaceInvaders/externals/SDL2/include/SDL_video.h
SpaceInvaders/externals/SDL2/include/SDL_version.h
SpaceInvaders/externals/SDL2/include/SDL_types.h
SpaceInvaders/externals/SDL2/include/SDL_touch.h
SpaceInvaders/externals/SDL2/include/SDL_timer.h
SpaceInvaders/externals/SDL2/include/SDL_gamecontroller.h
SpaceInvaders/externals/SDL2/include/SDL_filesystem.h
SpaceInvaders/externals/SDL2/include/SDL_events.h
SpaceInvaders/externals/SDL2/include/SDL_error.h
SpaceInvaders/externals/SDL2/include/SDL_endian.h
SpaceInvaders/externals/SDL2/include/SDL_cpuinfo.h
SpaceInvaders/externals/SDL2/include/SDL_config.h
SpaceInvaders/x64/Debug/LCFramework.pdb
SpaceInvaders/x64/Debug/LCFramework.lib
SpaceInvaders/resources/textures/hakai.png
SpaceInvaders/resources/sprites/numbers.png
SpaceInvaders/externals/SDL2/include/SDL_opengles2.h
SpaceInvaders/externals/SDL2/include/SDL_thread.h
SpaceInvaders/externals/SDL2/include/SDL_opengles.h
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/vc140.pdb
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/vc140.idb
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/stdafx.obj
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/Texture.obj
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/Sprite.obj
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.res
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.pch
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.obj
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/Sfx.obj
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SDL_Manager.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/LCFramework.tlog/CL.write.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/LCFramework.tlog/CL.read.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/LCFramework.tlog/CL.command.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/LCFramework.pdb
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/LCFramework.idb
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.tlog/rc.write.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.tlog/rc.read.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.tlog/rc.command.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.tlog/link.write.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.tlog/link.read.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/Music.obj
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/BackgroundTexture.obj
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/Audio.obj
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/AssetManager.obj
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/Asset.obj
SpaceInvaders/intermediate/buildLogs/Debug/Win32/SpaceInvaders.log
SpaceInvaders/intermediate/buildLogs/Debug/Win32/LCFramework.log
SpaceInvaders/bin/SpaceInvaders.pdb
SpaceInvaders/bin/SpaceInvaders.ilk
SpaceInvaders/bin/SpaceInvaders.exe
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.tlog/link.command.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.tlog/SpaceInvaders.lastbuildstate
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.tlog/CL.write.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.tlog/CL.read.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.tlog/CL.command.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/World.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/LCFramework.tlog/lib.command.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/LCFramework.tlog/Lib-link.write.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/LCFramework.tlog/Lib-link.read.1.tlog
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/LCFramework.tlog/LCFramework.lastbuildstate
SpaceInvaders/ipch/SPACEINVADERS-f2373de8/SPACEINVADERS-ab3fb3d0.ipch
SpaceInvaders/.vs/SpaceInvaders/v14/.suo
SpaceInvaders/resources/sfx/bass.wav
SpaceInvaders/resources/music/song.mp3
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/testActor.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/Texture.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/Sprite.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/Sfx.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/SDL_Manager.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/Music.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/InputManager.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/Driver.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/Controller.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/BackgroundTexture.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/AudioManager.obj
SpaceInvaders/externals/SDL2/include/SDL_config.h.cmake
SpaceInvaders/externals/SDL2/docs/doxyfile
SpaceInvaders/externals/SDL2/docs/README.md
SpaceInvaders/externals/SDL2/docs/README-winrt.md
SpaceInvaders/externals/SDL2/docs/README-windows.md
SpaceInvaders/externals/SDL2/docs/README-wince.md
SpaceInvaders/externals/SDL2/docs/README-macosx.md
SpaceInvaders/externals/SDL2/docs/README-linux.md
SpaceInvaders/externals/SDL2/docs/README-ios.md
SpaceInvaders/externals/SDL2/docs/README-hg.md
SpaceInvaders/externals/SDL2/docs/README-gesture.md
SpaceInvaders/externals/SDL2/docs/README-emscripten.md
SpaceInvaders/externals/SDL2/docs/README-dynapi.md
SpaceInvaders/externals/SDL2/docs/README-directfb.md
SpaceInvaders/externals/SDL2/docs/README-cmake.md
SpaceInvaders/externals/SDL2/docs/README-android.md
SpaceInvaders/externals/SDL2/WhatsNew.txt
SpaceInvaders/externals/SDL2/README.txt
SpaceInvaders/externals/SDL2/README-SDL.txt
SpaceInvaders/externals/SDL2/COPYING.txt
SpaceInvaders/externals/SDL2/BUGS.txt
SpaceInvaders/bin/libvorbisfile-3.dll
SpaceInvaders/bin/libvorbis-0.dll
SpaceInvaders/bin/libogg-0.dll
SpaceInvaders/bin/libmpg123-0.dll
SpaceInvaders/bin/libmodplug-1.dll
SpaceInvaders/bin/libFLAC-8.dll
SpaceInvaders/bin/SDL2_mixer.dll
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/Audio.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/AssetManager.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/Asset.obj
SpaceInvaders/intermediate/unused/Debug/Win32/LCFramework/Actor.obj
SpaceInvaders/externals/SDL2_mixer/lib/x86/libvorbisfile-3.dll
SpaceInvaders/externals/SDL2_mixer/lib/x86/libvorbis-0.dll
SpaceInvaders/externals/SDL2_mixer/lib/x86/libogg-0.dll
SpaceInvaders/externals/SDL2_mixer/lib/x86/libmpg123-0.dll
SpaceInvaders/externals/SDL2_mixer/lib/x86/libmodplug-1.dll
SpaceInvaders/externals/SDL2_mixer/lib/x86/libFLAC-8.dll
SpaceInvaders/externals/SDL2_mixer/lib/x86/SDL2_mixer.lib
SpaceInvaders/externals/SDL2_mixer/lib/x86/SDL2_mixer.dll
SpaceInvaders/externals/SDL2_mixer/lib/x86/LICENSE.ogg-vorbis.txt
SpaceInvaders/externals/SDL2_mixer/lib/x64/LICENSE.modplug.txt
SpaceInvaders/externals/SDL2_mixer/lib/x64/LICENSE.FLAC.txt
SpaceInvaders/externals/SDL2_mixer/include/SDL_mixer.h
SpaceInvaders/externals/SDL2_mixer/README.txt
SpaceInvaders/externals/SDL2_mixer/COPYING.txt
SpaceInvaders/externals/SDL2_mixer/CHANGES.txt
SpaceInvaders/externals/SDL2/include/SDL_vulkan.h
SpaceInvaders/externals/SDL2/include/SDL_test_memory.h
SpaceInvaders/externals/SDL2/include/SDL_opengles2_khrplatform.h
SpaceInvaders/externals/SDL2/include/SDL_opengles2_gl2platform.h
SpaceInvaders/externals/SDL2/include/SDL_opengles2_gl2ext.h
SpaceInvaders/externals/SDL2/include/SDL_opengles2_gl2.h
SpaceInvaders/externals/SDL2/include/SDL_opengl_glext.h
SpaceInvaders/externals/SDL2_mixer/lib/x86/LICENSE.mpg123.txt
SpaceInvaders/externals/SDL2_mixer/lib/x86/LICENSE.modplug.txt
SpaceInvaders/externals/SDL2_mixer/lib/x86/LICENSE.FLAC.txt
SpaceInvaders/externals/SDL2_mixer/lib/x64/libvorbisfile-3.dll
SpaceInvaders/externals/SDL2_mixer/lib/x64/libvorbis-0.dll
SpaceInvaders/externals/SDL2/include/SDL_egl.h
SpaceInvaders/externals/SDL2/include/SDL_copying.h
SpaceInvaders/externals/SDL2/include/SDL_config_wiz.h
SpaceInvaders/externals/SDL2/include/SDL_config_winrt.h
SpaceInvaders/externals/SDL2/include/SDL_config_windows.h
SpaceInvaders/externals/SDL2/include/SDL_config_psp.h
SpaceInvaders/externals/SDL2/include/SDL_config_pandora.h
SpaceInvaders/externals/SDL2/include/SDL_config_minimal.h
SpaceInvaders/externals/SDL2/include/SDL_config_macosx.h.orig
SpaceInvaders/externals/SDL2/include/SDL_config_macosx.h
SpaceInvaders/externals/SDL2/include/SDL_config_iphoneos.h
SpaceInvaders/externals/SDL2/include/SDL_config_android.h
SpaceInvaders/externals/SDL2/include/SDL_config.h.in
SpaceInvaders/externals/SDL2_mixer/lib/x64/libogg-0.dll
SpaceInvaders/externals/SDL2_mixer/lib/x64/libmpg123-0.dll
SpaceInvaders/externals/SDL2_mixer/lib/x64/libmodplug-1.dll
SpaceInvaders/externals/SDL2_mixer/lib/x64/libFLAC-8.dll
SpaceInvaders/externals/SDL2_mixer/lib/x64/SDL2_mixer.lib
SpaceInvaders/externals/SDL2_mixer/lib/x64/SDL2_mixer.dll
SpaceInvaders/externals/SDL2_mixer/lib/x64/LICENSE.ogg-vorbis.txt
SpaceInvaders/externals/SDL2_mixer/lib/x64/LICENSE.mpg123.txt
SpaceInvaders/externals/SDL2/docs/README-touch.md
SpaceInvaders/externals/SDL2/docs/README-raspberrypi.md
SpaceInvaders/externals/SDL2/docs/README-psp.md
SpaceInvaders/externals/SDL2/docs/README-porting.md
SpaceInvaders/externals/SDL2/docs/README-platforms.md
SpaceInvaders/externals/SDL2/docs/README-pandora.md
SpaceInvaders/externals/SDL2/docs/README-nacl.md
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/SpaceInvaders.Build.CppClean.log
SpaceInvaders/framework requirements.rar
SpaceInvaders/bin/Win32/Debug/zlib1.dll
SpaceInvaders/bin/Win32/Debug/libmpg123-0.dll
SpaceInvaders/bin/Win32/Debug/libmodplug-1.dll
SpaceInvaders/bin/Win32/Debug/SpaceInvaders.exe
SpaceInvaders/bin/Win32/Debug/SDL2_image.dll
SpaceInvaders/bin/Win32/Debug/SDL2.dll
SpaceInvaders/intermediate/unused/Debug/Win32/SpaceInvaders/VerticalActor.obj
SpaceInvaders/bin/Win32/Debug/libpng16-16.dll
SpaceInvaders/bin/Win32/Debug/libogg-0.dll
SpaceInvaders/bin/Win32/Debug/SpaceInvaders.pdb
SpaceInvaders/bin/Win32/Debug/SDL2_mixer.dll
SpaceInvaders/bin/Win32/Debug/libvorbisfile-3.dll
SpaceInvaders/bin/Win32/Debug/libjpeg-9.dll
SpaceInvaders/bin/Win32/Debug/libFLAC-8.dll
SpaceInvaders/bin/Win32/Debug/SpaceInvaders.ilk
SpaceInvaders/bin/Win32/Debug/libvorbis-0.dll
SpaceInvaders/externals/SDL2/include/SDL_name.h
SpaceInvaders/SpaceInvaders.VC.db
SpaceInvaders/docs/README.txt
SpaceInvaders/intermediate/
SpaceInvaders/ipch/
SpaceInvaders/resources/
SpaceInvaders/Prototype_1/Prototype_1.vcxproj.user
SpaceInvaders/bin/Win32/Release/libvorbis-0.dll
SpaceInvaders/bin/Win32/Release/libpng16-16.dll
SpaceInvaders/bin/Win32/Release/SDL2_image.dll
SpaceInvaders/bin/Win32/Release/SDL2.dll
SpaceInvaders/bin/Win32/Release/zlib1.dll
SpaceInvaders/bin/Win32/Release/libvorbisfile-3.dll
SpaceInvaders/bin/Win32/Release/libmodplug-1.dll
SpaceInvaders/bin/Win32/Release/libjpeg-9.dll
SpaceInvaders/bin/Win32/Release/SpaceInvaders.exe
SpaceInvaders/bin/Win32/Release/SDL2_mixer.dll
SpaceInvaders/bin/Win32/Release/libogg-0.dll
SpaceInvaders/bin/Win32/Release/libmpg123-0.dll
SpaceInvaders/bin/Win32/Release/libFLAC-8.dll
SpaceInvaders/bin/Win32/Release/SpaceInvaders.pdb
SpaceInvaders/SpaceInvaders.VC.VC.opendb
